<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mapper.SalesMapper">

    <select id="monthly" resultType="sales">
    SELECT case when gender = 'F' then '여성' else '남성' end as gender,
    sum(price) as sum,
    TO_CHAR(rdate, 'YYYY-MM') AS monthly
    FROM sales WHERE rdate&gt;=TO_DATE('2018-01-01', 'YYYY-MM-DD')
    AND rdate&lt;TO_DATE('2025-01-01', 'YYYY-MM-DD')
    GROUP BY TO_CHAR(rdate, 'YYYY-MM'), GENDER
    ORDER BY MONTHLY
    </select>
    <select id="selectall" resultType="sales">
        SELECT * FROM sales
    </select>
    <insert id="insert" parameterType="sales">
        INSERT INTO sales VALUES (TO_DATE(#{rdate},'YYYY-MM-DD'),#{price},#{gender})
    </insert>


</mapper>